{%extends 'product/index.html'%} {%load static %} {%block content%}
<div class="container">
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Email</td>
      <td>Image</td>
      <td>Age</td>
      <td>CreatedAt</td>
      <td>UpdatedAt</td>
    </tr>

    <tr>
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td>{{category.email}}</td>
      <td>{{category.image}}</td>
      <td>{{category.age}}</td>
      <td>{{category.createdat}}</td>
      <td>{{category.updatedat}}</td>
    </tr>
  </table>
</div>
{%endblock%}
