{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">E-Commerce</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/Products/List"
              >Products</a
            >
            <a class="nav-link" href="/Products/Category">Categories</a>
            <a class="nav-link" href="/AboutUs">About Us</a>
          </div>
        </div>
      </div>
    </nav>

    <div>
      <h2>Hello World!</h2>
      <h3>My Name is Mohamed Omara</h3>
    </div>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}" />
  </body>
</html>
