{%extends 'index.html'%} {%load static %} {%block content%}
<div class="container">
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Price</td>
      <td>Description</td>
      <td>Image</td>
      <td>Count</td>
      <td>Category</td>
      <td>CreatedAt</td>
      <td>UpdatedAt</td>
    </tr>

    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.image}}</td>
      <td>{{product.count}}</td>
      <td>{{product.category.name}}</td>
      <td>{{product.createdat}}</td>
      <td>{{product.updatedat}}</td>
    </tr>
  </table>
</div>
{%endblock%}
