{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">E-Commerce</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/Products/List"
              >Products</a
            >
            <a class="nav-link" href="/Products/Category">Categories</a>
            <a class="nav-link" href="/AboutUs">About Us</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <h2>Product Data</h2>
      {%for product in product%}
      <h3>
        Id:
        <span>{{product.id}}</span>
      </h3>
      <h3>
        Name:
        <span>{{product.Name}}</span>
      </h3>
      <h3>
        Img
        <div style="width: 250px">
          <img
            style="width: 100%"
            src="{%static 'images/'|add:product.path %}"
          />
        </div>
      </h3>
      {%endfor%}
    </div>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}" />
  </body>
</html>
