{%extends 'index.html'%} {%load static %} {%block content%}
<div class="container">
  <a href="{%url 'productAdd'%}">
    <button type="button" class="btn btn-primary my-3">Add Product</button>
  </a>
  {%if products%}
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Price</td>
      <td>Description</td>
      <td>Image</td>
      <td>Count</td>
      <td>CreatedAt</td>
      <td>UpdatedAt</td>
      <td>Actions</td>
    </tr>
    {%for product in products%}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.image}}</td>
      <td>{{product.count}}</td>
      <td>{{product.createdat}}</td>
      <td>{{product.updatedat}}</td>
      <td>
        <!-- <a href="/Product/{{product.id}}">show details</a> -->
        <a href="{% url 'productDetails' product.id%}">
          <button type="button" class="btn btn-info my-3">Details</button>
        </a>
        <a href="">
          <button type="button" class="btn btn-secondary my-3">Update</button>
        </a>
        <a href="{% url 'product.delete' product.id%}">
          <button type="button" class="btn btn-danger my-3">Delete</button>
        </a>
      </td>
      {%endfor%}
    </tr>
  </table>
  {%else%}
  <h2>U have 0 Products</h2>
  {%endif%}
</div>
{%endblock%}
