{%extends 'index.html'%}
{%load static %}
{%block content%}
<div class="container">
  <table class="table table-striped">
    <tr>
      <td>id</td>
      <td>name</td>
      <td>image</td>
      <td>Actions</td>
    </tr>
    {%for product in products%}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.Name}}</td>
      <td>
        <!-- {{product.path}} -->
        <div style="width: 150px">
          <img
            style="width: 100%"
            src="{%static 'images/'|add:product.path %}"
          />
        </div>
      </td>
      <td>
        <!-- <a href="/Product/{{product.id}}">show details</a> -->
        <a href="{% url 'productDetails' product.id%}">show details</a>
      </td>
    </tr>

    {%endfor%}
  </table>
</div>
{%endblock%}
