{%extends 'index.html'%} {%load static %} {%block content%}
<div class="container">
  <a href="{%url 'productAdd'%}">
    <button type="button" class="btn btn-primary my-3">Add Product</button>
  </a>
  <a href="{%url 'product.addForm'%}">
    <button type="button" class="btn btn-primary my-3">
      Add Product with Forms
    </button>
  </a>
  <a href="{%url 'product.addFormModel'%}">
    <button type="button" class="btn btn-primary my-3">
      Add Product with ModelForm
    </button>
  </a>
  <br />
  <a href="{% url 'product.listFormModel'%}">
    <button type="button" class="btn btn-success my-3">ListFormModel</button>
  </a>
  <a href="{% url 'product.addFormModel'%}">
    <button type="button" class="btn btn-success my-3">AddFormModel</button>
  </a>
  {%if products%}
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Price</td>
      <td>Description</td>
      <td>Image</td>
      <td>Count</td>
      <td>Category</td>
      <td>CreatedAt</td>
      <td>UpdatedAt</td>
      <td>Actions</td>
    </tr>
    {%for product in products%}
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>
        <div style="width: 150px; height: 150px">
          <img src="{{product.getImgURL}}" alt="product" style="width: 100%" />
          <!-- <img
            src="/media/{{product.image}}"
            alt="product"
            style="width: 100%"
          /> -->
        </div>
      </td>
      <td>{{product.count}}</td>
      <td>{{product.category.name}}</td>
      <td>{{product.createdat}}</td>
      <td>{{product.updatedat}}</td>
      <td>
        <!-- <a href="/Product/{{product.id}}">show details</a> -->
        <a href="{% url 'productDetails' product.id%}">
          <button type="button" class="btn btn-info my-3">Details</button>
        </a>
        <a href="{% url 'product.update' product.id%}">
          <button type="button" class="btn btn-secondary my-3">Update</button>
        </a>
        <a href="{% url 'product.delete' product.id%}">
          <button type="button" class="btn btn-danger my-3">Delete</button>
        </a>
        <a href="{% url 'product.detailsFormModel' product.id%}">
          <button type="button" class="btn btn-info my-3">
            DetailsFormModel
          </button>
        </a>
        <a href="{% url 'product.updateFormModel' product.id%}">
          <button type="button" class="btn btn-secondary my-3">
            UpdateFormModel
          </button>
        </a>
        <a href="{% url 'product.deleteFormModel' product.id%}">
          <button type="button" class="btn btn-danger my-3">
            DeteteFormModel
          </button>
        </a>
      </td>
      {%endfor%}
    </tr>
  </table>
  {%else%}
  <h2>U have 0 Products</h2>
  {%endif%}
</div>
{%endblock%}
